body {
    /*
    background: url("http://galvanize-wp.s3.amazonaws.com/wp-content/uploads/2015/08/12154910/atx-pano.jpg") no-repeat center center fixed;
    */
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:#333;
    text-align: center;
}

h1 .btn {
    font-size:30px;
    text-align: center;
}
.jumbotron{
    text-align: center;
    opacity: 0.7;
}
.navbar{
    opacity: .7;
}
.row{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 40%;
    top: 50%; 
    margin-left: 50px;
    margin-top:  300px;
}
h2{
    font-size: 40px;
}
.local-head{
    font-size: 90px;
}