body {
    background             : url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    
    font-family: "Kalam", cursive;
    font-size  : 25px;
    text-align : center;
}

.locall_container {
    width : 960px;
    margin: auto;
}

.page {
    background: rgba(255, 255, 255, 0.6);
}

.page_center {
    /* Center vertically */
    min-height     : 100%;   /* Fallback for browsers do not support vh unit */
    min-height     : 100vh;  /* These two lines are counted as one           */

    display        : flex;
    flex-direction : column;
    justify-content: center;
}

h1 {
    font-family: "Arvo", serif;
    font-size  : 4em;
    font-weight: normal;
    text-align : center;
    
    margin-bottom: 2%;
    
    -webkit-animation-name    : rainbow; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s;
    animation-name            : rainbow;
    animation-duration        : 6s;
    animation-iteration-count : infinite;
}

h2, h3 {
    font-size  : 3em;
    font-weight: bold;
    text-align : center;

    margin-bottom: 2%;
}

h3 {
    font-size: 1.5em;
}

p {
    font-family: "Homemade Apple", cursive;
    font-size  : 1.2em;
    font-weight: bold;
}


/* Page 1: Main */
#page1 h1 {
    font-size    : 5em;
    margin-bottom: 3.5%;
}

#page1 h2 {
    margin-bottom: 4%;
}

#page1 a {
    color: white;
    font-family: "Kalam", cursive;
    font-size: 2em;
    padding  : 20px 30px 10px 30px;
}




/* Animation */
@keyframes rainbow {
    0%   { color: #97E649; }
    16%  { color: #35fec8; }
    33%  { color: #35a9fe; }
    49%  { color: #e135fe; }
    66%  { color: #FE6C52; }
    82%  { color: #F4EE44; }
    100% { color: #97E649; }
}